/storage/*
!/storage/.keep
/tmp/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Node.js
node_modules/

# ESLint
.eslintcache

# TypeScript
*.tsbuildinfo

# Storybook
storybook-static/
