name: CI Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-node

      - name: Build packages
        run: npm run build

      - name: Run tests
        run: npm test

  test-storybook:
    name: Run Storybook tests
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-node

      - name: Install Playwright browsers
        run: npx playwright install chromium
        working-directory: packages/client

      - name: Run Storybook tests
        run: npm run test:storybook -w @picstash/client

  test-e2e:
    name: Run E2E tests
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-node

      - name: Build packages
        run: npm run build

      - name: Install Playwright browsers
        run: npx playwright install chromium
        working-directory: packages/e2e-test

      - name: Run E2E tests
        run: npm run test:e2e

      - name: Upload Playwright report
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: packages/e2e-test/playwright-report/
          retention-days: 3
